.container-fluid.instructor {
    background-color: brown;
}

.space-bottom {
    padding-bottom: 30px;

}

.space-left {
    margin-left: 30px;
}

.white {
    color: white;
}

h5 {
    margin-top: 10px;
}

.a-instructor {
  font-style: italic;
}