
.login-page {
    background-color: firebrick;
    position: absolute;
    width: 100%;
    height: 100%
}

.container-login {
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 600px;
    padding: 50px;
}

.h1-login {
    text-align: center;
    margin: 20px;
    color: white;
}

::placeholder {
    font-weight: bolder;
}
