h1 {
    text-align: center;
    margin: 20px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.sign-in {
    background-color: #d3d3d3;
}

.wbdv-field {
    border-color: black;
    font-weight: lighter;
}

.wbdv-field.wbdv-username {
}

.wbdv-field.wbdv-password {
}

.wbdv-link.wbdv-forgot-password {
    margin-top: 20px;
}

.wbdv-link.wbdv-register {
    margin-top: 20px;
}

.login2 {
    width: 200px;
    position: absolute;
    margin-top: 10px;
    margin-left: 43%;
}
.container-login {
    border: 2px solid darkgrey;
    background-color: lightgrey;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 5px;
    padding: 50px;
}